@{  
    Layout = null;  
}

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.0-beta.5/angular-route.min.js"></script>
    <script src="~/Scripts/AngularJs/app.js"></script>
    <script src="~/Scripts/AngularJs/controller.js"></script>
</head>
<body>

    <a href="#/Create">Create</a>
    <ng-view></ng-view>
</body>
</html>
